<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties"/><!--    转义字符& ->  &amp;-->
    <typeAliases>
        <!--  指定一个包名，MyBatis 会在包名下面搜索需要的 Java Bean,比如：扫描实体类的包，他的默认别名就为这个类的类名，首字母小写！ -->
        <package name="com.yj.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.yj.mapper"/>

    </mappers>

</configuration>